{% extends 'layout.html' %}

{% block content %}
    <div class="columns">
        <div class="column">
            <h1 class="title">Books</h1>
        </div>

        <div class="column">
            <a href="/books/add" class="button is-primary is-small is-rounded is-pulled-right">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>New Book</span>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <form action="/book-search" method="GET">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" name="title" placeholder="" value="{{title}}">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if searchResults | length > 0 %}
    <hr>

    <div class="columns">
        <div class="column">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Title</th>
                        <th class="is-hidden">Available</th>
                        <th>Author</th>
                        <th>ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in searchResults %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="/books/{{result.id}}">{{result.title}}</a></td>
                        <td class="is-hidden">
                            3
                            <span class="is-pulled-right">
                                <span class="tag is-success">Available</span>
                                <!-- <span class="tag is-danger">Out of stock</span> -->
                            </span>
                        </td>
                        <td>{{result.author}}</td>
                        <td>{{result.isbn}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if searchResults | length == 0 %}
    <div class="column">
        <article class="message is-warning">
            <div class="message-body">
                No results found
            </div>
        </article>
    </div>
    {% endif %}

{% endblock %}
