{% extends 'layout.html' %}

{% block content %}

{% if error %}
<article class="message is-danger">
    <div class="message-header">
        <p>Uh oh!</p>
        <!-- <button class="delete" aria-label="delete"></button> -->
    </div>
    <div class="message-body">
        {{error}}
    </div>
</article>
{% endif %}

<div class="columns is-multiline">
    <div class="column is-6">
        <h1 class="title">Add Rental for {{ customer.name }}</h1>
    </div>

    <div class="column is-6">
        <a href="/customers" class="button is-small is-rounded is-pulled-right">
            Go Back
        </a>
    </div>

    <div class="column">
        <form action="/rentals/add/{{customerId}}" method="POST">
            <div class="field">
                <label class="label">Book Code</label>
                <div class="control">
                    <input class="input" name="barcode" type="text" placeholder="" id="txtRentalBarcode">
                </div>
                <!-- <p class="help">This is a help text</p> -->
            </div>

            <input type="hidden" name="cart" value="{{ cartStr }}">
        </form>
    </div>
</div>

{% if cart | length > 0 %}
<hr>
<div class="columns is-multiline">
    <div class="column is-12">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <tr>
                <th>Sl</th>
                <th>Title</th>
                <th>Book Unit</th>
                <th>Due Date</th>
                <th>Charge</th>
                <th></th>
            </tr>
            {% for cartItem in cart %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ cartItem.title }}</td>
                <td>{{ cartItem.bookunitId }}</td>
                <td><input type="date" class="input" name="duedate" value="{{ cartItem.duedate }}"></td>
                <td><input type="number" class="input" name="charge" value="{{ cartItem.charge }}"></td>
                <td>
                    <button class="button is-small is-rounded is-danger"><span class="icon"><i class="fa fa-trash"></i></span></button>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Rs {{ totalCharge }}</th>
                <th></th>
            </tr>
        </table>
    </div>

    <div class="column">
        <form action="/rentals/confirm/{{customerId}}" method="POST">
            <input type="hidden" name="cart" value="{{ cartStr }}">

            <button class="button is-small is-rounded is-primary">
                Confirm Rental{% if cart | length > 1 %}s{% endif %}
            </button>
        </form>
    </div>
</div>
{% endif %}

<hr>

<div class="columns is-multiline">
    <div class="column is-12">
        <h1 class="title">Active Rentals</h1>
    </div>

    {% if activeRentals | length > 0 %}
    <div class="column">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <tr>
                <th>Sl</th>
                <th>Title</th>
                <th>Book Unit</th>
                <th>Rented On</th>
                <th>Return Date</th>
                <th>Charge</th>
                <th></th>
            </tr>
            {% for activeRental in activeRentals %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ activeRental.title }}</td>
                <td>{{ activeRental.bookunitId }}</td>
                <td>{{ activeRental.createdat.strftime('%d-%m-%Y') }}</td>
                <td>{{ activeRental.duedate.strftime('%d-%m-%Y') }}</td>
                <td>{{ activeRental.charge }}</td>
                <td>
                    <a href="" class="button is-small is-rounded">
                        Return
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if activeRentals | length == 0 %}
    <div class="column">
        <article class="message is-warning">
            <div class="message-body">
                No active rentals were found
            </div>
        </article>
    </div>
    {% endif %}
</div>


<hr>

<div class="columns is-multiline">
    <div class="column is-12">
        <h2 class="subtitle">Previous Rentals</h2>
    </div>

    {% if historicRentals | length > 0 %}
    <div class="column">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <tr>
                <th>Sl</th>
                <th>Title</th>
                <th>Book Unit</th>
                <th>Rented On</th>
                <th>Return Date</th>
                <th>Charge</th>
            </tr>
            {% for historicRental in historicRentals %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ historicRental.title }}</td>
                <td>{{ historicRental.bookunitId }}</td>
                <td>{{ historicRental.createdat.strftime('%d-%m-%Y') }}</td>
                <td>{{ historicRental.duedate.strftime('%d-%m-%Y') }}</td>
                <td>{{ historicRental.charge }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if historicRentals | length == 0 %}
    <div class="column">
        <article class="message is-warning">
            <div class="message-body">
                No historic rentals were found
            </div>
        </article>
    </div>
    {% endif %}
</div>

<script>
    $(document).ready(() => {
        $('#txtRentalBarcode').focus();
    });
</script>

{% endblock %}
